.btn
{
    height:38px;
    width:100%;
}
input[type="checkbox"] {
    width: 30px;
    height: 30px;
    background-color: transparent;
}
.KendoGrid {
    font-size: 12px;
    height: 600px;
}
@media (max-height: 700px) {
    .KendoGrid {        
        height: 450px;
    } 
}
.border01 a {
    font-size: 16px;
}

.border01, .border01 td, .border01 th {
    border: 1px solid #000000;
    padding: 5px;
}

.border01 {
    border-collapse: collapse;
    font-size: 16px;
}

    .border01 th {
        text-align: center;
    }

    .border01 td {
    }

    .border01 .text {
        text-align: left;
    }