@{ Layout = "~/Views/Shared/_LayoutWindow100.cshtml"; ViewData["Title"] = @Model.Product.Title; }

@model Commsights.MVC.Models.ProductViewContentViewModel

<div class="card card-primary card-outline">
    <div class="card-header">
        <h5 class="card-title m-0">@Model.Product.Title</h5>
    </div>
    <div class="card-body">
        <div class="text-center" style="margin:auto; margin:0px;">
            @if (Model.Product.IsVideo == true)
            {
                <video width="800" height="450" controls>
                    <source src="@Model.Product.Image" type="video/mp4">
                </video>
            }
            else
            {
                foreach (Commsights.Data.Models.ProductProperty item in Model.ListProductProperty)
                {
                    <div class="row">
                        <img src="@item.Note" class="img-thumbnail" />
                    </div>
                }
            }
        </div>       
    </div>
</div>
