@{ ViewData["Title"] = "Brand of customer"; }
<div class='col-xs-12'>
    <div class='box'>
        <div class='box-header'>
            <ul>
                <li>
                    <i class="fa fa-users"></i>
                    <a href="#">Customer</a>
                </li>
                <li class="active">
                    <a href="#"> Brand of customer</a>
                </li>
            </ul>
        </div>
        <div class='box-body'>
            <div class="row">
                <div class='col-sm-12'>
                    <div class='col-sm-4'>
                        @(Html.Kendo().DropDownList()
                     .Name("Customer")
                     .DataValueField("Id")
                     .DataTextField("FullName")
                     .HtmlAttributes(new { style = "width:100%; font-size: 16px;" })
                      .Events(e => e.DataBound("onCustomerDataBound").Change("onCustomerChange"))
                       .Filter(FilterType.Contains)
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetCustomerToList", "Membership")))
                            )
                    </div>
                </div>
            </div>
            <br />
            @(Html.Kendo().Grid<Commsights.Data.Models.MembershipPermission>()
.Name("MembershipPermission")
.Columns(columns =>
{
    columns.Command(command => { command.Edit().Text("&nbsp;").CancelText("&nbsp;").UpdateText("&nbsp;").IconClass("fa fa-pencil-square-o").HtmlAttributes(new { style = "font-size: 16px; padding-left:14px; padding-top:6px; border-radius: 6px; font-weight:bold;" }); command.Destroy().Text("&nbsp;").IconClass("fa fa-trash-o").HtmlAttributes(new { style = "font-size: 16px; color:#ffffff; background-color:#d73925; padding-left:10px; padding-top:6px; border-radius: 6px; width:50px;" }); }).Width(120);    
    columns.Bound(t => t.BrandId).EditorTemplateName("Config_Brand").Title("Brand").Width(300);
})
.ToolBar(toolBar => toolBar.Create().Text("&nbsp;").IconClass("fa fa-plus").HtmlAttributes(new { style = "font-size: 16px; border-radius: 6px; font-weight:bold; background-color:#009966; color:#ffffff; padding-left:10px;" }))
.ToolBar(toolBar => toolBar.Search())
.Editable(editable => editable.Mode(GridEditMode.InLine))
.Sortable()
.Scrollable()
.Reorderable(r => r.Columns(true))
.Resizable(r => r.Columns(true))
.Pageable(pageable => pageable
.Refresh(true)
.PageSizes(true)
.ButtonCount(10))
.Excel(excel => excel
.FileName("Config.xlsx")
.Filterable(true)
.ProxyURL(Url.Action("ExportExcel", "Config"))
)
.Pdf(pdf => pdf
.AllPages()
.AvoidLinks()
.PaperSize("A4")
.Margin("2cm", "1cm", "1cm", "1cm")
.Landscape()
.RepeatHeaders()
.FileName("Config.pdf")
)
.HtmlAttributes(new { style = "font-size: 16px;" })
.DataSource(dataSource => dataSource
.Ajax()
.PageSize(1000)
.Model(model =>
{
    model.Id(t => t.Id);
    model.Field(t => t.Id).Editable(false);
})
.Events(t => { t.RequestEnd("onGridRequestEnd"); })
.Read(t => t.Action("GetMembershipIDAndBrandToList", "MembershipPermission").Data("filterMembershipPermission"))
.Destroy(t => t.Action("Delete", "MembershipPermission"))
.Create(t => t.Action("CreateBrand", "MembershipPermission").Data("filterMembershipPermissionCreateBrand"))
.Update(t => t.Action("Update", "MembershipPermission"))
)
)
        </div>
    </div>
</div>

@(Html.Kendo().Notification()
    .Name("Notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Width(400)
)

<script>
    function onGridRequestEnd(e) {
        if ((e.type == "create") || (e.type == "update") || (e.type == "destroy")) {
            var response = e.response;
            var messageType = response.split('-')[0];
            var note = response.split('-')[1];
            var notification = $("#Notification").data("kendoNotification");
            notification.show(note, messageType);
            $("#MembershipPermission").data("kendoGrid").dataSource.read();
        }
    }
    function onCustomerDataBound() {
        var control = $("#Customer").data("kendoDropDownList");
        var controlLength = control.dataSource.data().length;
        if (controlLength > 0) {
            control.select(0);
            control.trigger("change");
        }
    }
    function onCustomerChange() {
        $("#MembershipPermission").data("kendoGrid").dataSource.read();
    }
    function filterMembershipPermission(e) {
        var membershipIDValue = $("#Customer").data("kendoDropDownList").value();
        return { membershipID: membershipIDValue };
    }
    function filterMembershipPermissionCreateBrand(e) {
        var membershipIDValue = $("#Customer").data("kendoDropDownList").value();
        return { membershipID: membershipIDValue };
    }
</script>